# Dependencies
/node_modules

# Build output
/dist
/out-tsc
/bazel-out

# Angular cache
/.angular/cache
.sass-cache/

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Misc
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# OS
.DS_Store
Thumbs.db
