:host {
  display: block;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.group:last-child {
  margin-bottom: 0;
}

.check-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.check-list.inline {
  flex-direction: row;
  gap: 24px;
}
